@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
    --- Estilos predefinidos
*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}
body{
    background-color: #e3e3e3;
}
.container{
    margin: 50px 0;
    display: grid;
    place-content: center;
}
.items{
    max-width: 1000px;
    min-width: 700px;
    background-color: #f8f8f8;
    border: 2px solid #a8a8a8;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.items .item{
    border: 2px solid #585858;
    border-radius: 10px;
    padding: 10px;
}
button {
    padding: 5px 10px;
    border: 1px solid #919191;
    border-radius: 8px;
    color: #dadada;
    transition: all .2s ease;
    background-color: #282828;
    cursor: pointer;
}
button:hover{
    color: #282828;
    background-color: #dadada;
}
.precionado{
    background-color: #dadada;
    color: #282828;
}
.container .items .item-elemt {
    height: 200px;
    border: 2px solid #585858;
    border-radius: 10px;
    position: relative;
}
.container .items .item-elemt > p{
    padding-left: 5px;
}


/*
    --- info-general
*/
#intro {
    opacity: 0;
    transition: opacity .3s linear;
}
#intro.visible {
    opacity: 1;
}

/*
    --- Estilos conceptos
*/
.conceptos .items > b{
    display: block;
    margin-top: 10px;
}

/*
    --- Estilos Tipos Eventos
*/
.tipos-eventos .items ul{
    margin-left: 25px;
}

/*
    --- eventos-mouse
*/
.eventos-mouse .items .e-mousemove > p{
    padding-bottom: 5px;
}
.eventos-mouse .items .e-mouseEnterLeave .mouse-enter p:first-child{
    font-size: 0.8rem;
}
.eventos-mouse .items .e-mouseEnterLeave .mouse-enter .resultado-mouse-enter{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%);
}
.mouse-enter .resultado-mouse-enter i{
    font-size: 2rem;
    transition: all .4s ease;
}
.mouse-enter .resultado-mouse-enter:hover i{
    transform: rotate(180deg);
}
.mouse-enter #resultMouseEnter {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity .3s linear;
}
.mouse-enter #resultMouseEnter.visible {
    opacity: 1;
}
.e-mouseoverout .mouse-over{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.e-mouseoverout .mouse-over > p {
    margin-left: 20px;
}
.e-mouseoverout .mouse-over .mouse-over-padre{
    font-size: 0.9rem;
    background-color: #ececec;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    width: 300px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.mouse-over .mouse-over-padre #result-mouseOver-padre{
    opacity: 0;
    transition: opacity .3s linear;
}
.mouse-over-padre #result-mouseOver-padre.visible{
    opacity: 1;
} 
.e-mouseoverout .mouse-over .mouse-over-hijo{
    font-size: 0.8rem;
    width: 260px;
    height: 90px;
    background-color: #f8f8f8;
    position: absolute;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: end;
}
.mouse-over .mouse-over-padre #result-mouseOver-hijo{
    opacity: 0;
    transition: opacity .3s linear;
}
.mouse-over-padre #result-mouseOver-hijo.visible{
    opacity: 1;
}

/*
    --- eventos-teclado
*/
.eventos-teclas .evento-keydown .prueba{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.eventos-teclas .evento-keydown .prueba p{
    place-self: center;
}
.eventos-teclas .evento-keydown .prueba img{
    width: 50%;
    opacity: 0;
    transition: opacity .3s linear;
}
.eventos-teclas .evento-keydown .prueba img.visible{
    opacity: 1;
}

/* 
    --- preventDefault
*/
.info-preventDef .link a{
    color: #282828;
    border: 1px solid #282828;
    border-radius: 10px;
    padding: 8px 14px;
    margin: 10px auto;
    text-decoration: none;
    width: fit-content;
    display: block;
    transition: all .2s linear;
}
.info-preventDef .link a:hover{
    background-color: #282828;
    color: #ececec;
    box-shadow: 0 0 15px #282828;
}
.info-preventDef .boton #boton-formulario{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}
.info-preventDef .boton #boton-formulario label{
    text-align: right;
}
.info-preventDef .boton #boton-formulario input{
    width: 300px;
}
.info-preventDef .boton #boton-formulario #boton-enviar{
    grid-column: span 2;
    width: fit-content;
    margin: auto;
}

/* 
    --- Estilos eventos formulario
*/
.info-eventos-form .sobre-formElemt {
    display: grid;
    gap: 20px;
}
.info-eventos-form .sobre-formElemt .item-elemt{
    height: auto;
    display: grid;
}
.info-eventos-form .sobre-formElemt .item-elemt form{
    width: 300px;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    place-self: center;
}

.e-focus .resultados-focus{
    height: 50px;
    width: 50%;
    border: 1px solid;
    margin: 20px auto;
}
